
.hide-image {
    display: none;
}

.btn-lg {
    color: #ffff;
    background: #696969;
    border-color: #696969;
}

  .Red{
    color: #ffff !important;
    background: #d7182a !important;
    border-color: #d7182a !important;
    outline: none; 
  }

  .White{
    color: #ffff !important;
    background: #cc903c !important;
    border-color: #cc903c !important;
    outline: none; 
  }

  .Other{
    color: #ffff !important;
    background-color: #447838 !important;
    border-color: #447838 !important;
    outline: none; 
  }

  #Red:visited, #Red:focus, #Red:hover, #Red:active {
    color: #ffff !important;
    background: #d7182a !important;
    border-color: #d7182a !important;
    outline: none; 
  }

  #White:visited, #White:focus, #White:hover, #White:active {
    color: #ffff !important;
    background: #cc903c !important;
    border-color: #cc903c !important;
    outline: none; 
  }

  #Other:visited, #Other:focus, #Other:hover, #Other:active {
    color: #ffff !important;
    background-color: #447838 !important;
    border-color: #447838 !important;
    outline: none; 
  }